body{
    overflow-x: hidden;
    max-width: 100vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

h3{
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 1px;
    word-spacing: 2px;
    margin: 50px  0px 20px 10px;
}
h1,h2{
    font-weight: 4;

}

a{
    text-decoration: none;
    align-self: center;
    margin: 15px 0px 0px 20px;
}
.navigator{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin: 40px 50px 0px 20px;
}

.navigator h1{
    font-size: 30px;
}

.close-button{
    background:none;
    border: 0px;
    width: 50px;
    height: 50px;
    font-size: 25px;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    cursor: pointer;
}
.header {
    width: 100%;
    height: 80px;
    font-size: 20px;
    padding: 10px;
    text-align: center;
}
.profile-div{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
    padding: 20px;
    gap: 15px;
    border-radius: 20px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.4);

}
.propic-outline{
    width: 90px;
    height: 90px;
    border: 2px solid;
    border-radius: 10px;
}
.propic{
    width: 80px;
    height: 80px;
    overflow: hidden;
    margin: 5px;
    border-radius: 50px;
    cursor: pointer;
}
.warning{
    color: #008900;
    width: 300px;
    height: 30px;
    font-size: 15px;
    text-align: center;
}
/*signup*/

.register{
    display: flex;
    justify-content: center;
    margin: 0px 0px 0px 0px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 500px;
    background-color: #fff;
    padding: 30px 50px 10px 30px;
    position: relative;
}
.form-head{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: flex-start;
    gap: 20px;
}
.form-head h1{
    font-size: 25px;
    cursor: default;
}
.circle{
    border-radius: 50px;
    width: 25px;
    height: 25px;
    margin-top: 5px;
    background-color: rgba(70, 70, 255, 0.863);
}
.flex {
    display: flex;
    width: 100%;
    gap: 30px;
}

.form label {
    position: relative;
}

.form label .input {
    width: 100%;
    padding: 10px 10px 20px 10px;
    outline: 0;
    border: 1px solid rgba(105, 105, 105, 0.397);
    border-radius: 10px;
}

.form label .input+span {
    position: absolute;
    left: 10px;
    top: 15px;
    color: grey;
    font-size: 0.9em;
    cursor: text;
    transition: 0.3s ease;
}

.form label .input:placeholder-shown+span {
    top: 15px;
    font-size: 1em;
}

.form label .input:focus+span,
.form label .input:valid+span {
    top: 30px;
    font-size: 0.7em;
    font-weight: 600;
}

.form label .input:valid+span {
    color: green;
}
.password::-ms-reveal{
    display: none;
}

.checkbox-label {
    display: flex;
    gap: 10px;
    align-items: center;
}

.checkbox-label span{
    margin-top: 5px;
}

.checkbox {
    width: 20px;
    height: 20px;
    margin: 5px 0px 0px 0px;
    cursor: pointer;
}
.tcBox{
    width: 15px;
    vertical-align: bottom;
    margin: 0px 10px 0px 0px;
}
.button-container{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.password-warning{
    height: 20px;
    text-align: center;
}


.submit-button {
    width: 100px;
    margin-top: 30px;
    border: none;
    outline: none;
    background-color: royalblue;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    transform: .3s ease;
}

.submit-button:hover {
    background-color: rgba(0, 149, 30, 0.956);
}
