<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quick Bill - Sign Up</title>
    <link rel="stylesheet" th:href="@{/css/signUp.css}">
</head>

<body>
<header>
    <div class="navigator">
        <a href="javascript:history.back()">
            <button class="close-button">x</button>
        </a>
    </div>
</header>

<div class="header">
    <h1>Quick Bill</h1>
</div>

<div class="register">
    <div class="profile-div">
        <div class="form-head">
            <div class="circle"></div>
            <h1>Sign Up</h1>
        </div>

        <div class="propic-outline">
            <input type="file" id="fileInput" accept="image/*" style="display:none" onchange="uploadPhoto(event)">
            <img src="https://cdn-icons-png.flaticon.com/512/9706/9706583.png" class="propic" id="proimg"
                 onclick="document.getElementById('fileInput').click()" />
        </div>
        <div class="warning">
            <span id="warning">Upload Photo</span>
        </div>


        <form th:action="@{/auth/signup}" method="post" th:object="${user}" class="form">

            
            <!-- <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/> -->

            
            <label>
                <input th:field="*{firstName}" required placeholder="" type="text" class="input">
                <span>  First Name</span>
            </label>
            <label>
                <input th:field="*{lastName}" required placeholder="" type="text" class="input">
                <span>Last Name</span>
            </label>

            
            <label>
                <input th:field="*{contact}" required placeholder="" type="text" class="input">
                <span>Email or Phone</span>
            </label>

            
            <label>
                <input th:field="*{password}" required placeholder="" type="password" class="input password" id="password">
                <span>Password</span>
            </label>

            
            <label>
                <input required placeholder="" type="password" class="input password" id="c_password">
                <span>Confirm password</span>
            </label>

            
            <label>
                <select th:field="*{role}" name="role" class="input">
                    <option value="ROLE_ADMIN">Admin</option>
                    <option value="ROLE_MANAGER">Manager</option>
                    <option value="ROLE_RECEPTIONIST">Receptionist</option>
                </select>
                <span>Role</span>
            </label>

           
            <label for="checkbox" class="checkbox-label">
                <input type="checkbox" class="checkbox" onclick="showPassword()"> Show Password
            </label>

            
            <div>
                <input type="checkbox" class="checkbox tcBox" required> Agree to terms and conditions
            </div>

            
            <div class="button-container">
                <button type="submit" class="submit-button">Sign Up</button>
            </div>
        </form>
    </div>
</div>

<script th:src="@{/js/signUp.js}"></script>
</body>
</html>
